import pandas as pd

In [2]:
import pandas as pd
df=pd.read_csv("iris.csv")

In [3]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
df.head

<bound method NDFrame.head of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [5]:
df.tail

<bound method NDFrame.tail of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [6]:
df.describe

<bound method NDFrame.describe of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [7]:
df.tail(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [8]:
df.head(25)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa
24  25            4.8           3.4            1.9           0.2  Iris-setosa

In [ ]:
df.head(148)

:

In [9]:
df.iloc[147]

Id                          148
SepalLengthCm               6.5
SepalWidthCm                3.0
PetalLengthCm               5.2
PetalWidthCm                2.0
Species          Iris-virginica
Name: 147, dtype: object

In [5]:
import pandas as pd


d={
    "Roll":[1,2,3,4,5],
    "math":[96,92,93,85,80],
    "chem":[85,88,84,95,86],
    "phy":[90,95,83,92,90]
}
df = pd.DataFrame(data=d)

In [4]:
df

   Roll  math  chem  phy
0     1    96    85   90
1     2    92    88   95
2     3    93    84   83
3     4    85    95   92
4     5    80    86   90

In [6]:
df.at[1,"math"]

np.int64(92)

In [7]:
df.at[2,"phy"]=89

In [8]:
df

   Roll  math  chem  phy
0     1    96    85   90
1     2    92    88   95
2     3    93    84   89
3     4    85    95   92
4     5    80    86   90

In [9]:
df.loc[[1,2,3],["Roll","math"]]

   Roll  math
1     2    92
2     3    93
3     4    85

In [10]:
df.dtypes

Roll    int64
math    int64
chem    int64
phy     int64
dtype: object

In [11]:
df

   Roll  math  chem  phy
0     1    96    85   90
1     2    92    88   95
2     3    93    84   89
3     4    85    95   92
4     5    80    86   90

In [15]:
df.iloc[3]

Roll     4
math    85
chem    95
phy     92
Name: 3, dtype: int64

In [12]:
import numpy as np

In [13]:
a=np.array([[1,2,3],[4,5,6]])

In [14]:
arr=np.array([1,2,3,4,5,6])

In [16]:
print(arr[0:4])

[1 2 3 4]

In [17]:
a[0,0:2]

array([1, 2])

In [1]:
import pandas as pd

In [21]:
import pandas as pd

d=pd.read_csv('C:\\Users\\Aarti\\Downloads\\archive\\ESG.csv')

In [29]:
d=d.loc[:, d.columns != 'Full Time Employees']

In [30]:
d.isna().sum()

Symbol                     0
Name                       0
Address                    0
Sector                     0
Industry                   0
Description                0
Total ESG Risk score      12
Environment Risk Score    12
Governance Risk Score     12
Social Risk Score         12
Controversy Level         12
Controversy Score         12
ESG Risk Percentile       12
ESG Risk Level            12
dtype: int64

In [10]:
d

NameError: name 'd' is not defined

In [59]:
ds=d.dropna()

In [60]:
ds

,Symbol,Name,Address,Sector,Industry,Description,Total ESG Risk score,Environment Risk Score,Governance Risk Score,Social Risk Score,Controversy Level,Controversy Score,ESG Risk Percentile,ESG Risk Level
1,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,Adani Corporate House\nShantigram Near Vaishno...,Industrials,Services,"Adani Ports and Special Economic Zone Limited,...",12.6,3.6,5.6,3.4,High Controversy Level,4.0,6th percentile,Low
3,ASIANPAINT,Asian Paints Ltd.,"Asian Paints House\n6A, Shantinagar Santacruz ...",Basic Materials,Consumer Durables,"Asian Paints Limited, together with its subsid...",25.4,11.3,6.2,8.0,Low Controversy Level,1.0,51st percentile,Medium
4,AXISBANK,Axis Bank Ltd.,"Axis House\nC-2, Wadia International Centre Pa...",Financial Services,Financial Services,Axis Bank Limited provides various financial p...,24.2,2.3,11.6,10.3,Significant Controversy Level,3.0,45th percentile,Medium
5,BAJAJ-AUTO,Bajaj Auto Ltd.,"Mumbai-Pune Road\nAkurdi\nPune, 411035\nIndia",Consumer Cyclical,Automobile and Auto Components,"Bajaj Auto Limited develops, manufactures, and...",17.0,4.2,6.7,6.1,Low Controversy Level,1.0,17th percentile,Low
7,BAJAJFINSV,Bajaj Finserv Ltd.,Bajaj Finserv Corporate Office\n6th Floor Off ...,Financial Services,Financial Services,"Bajaj Finserv Ltd., through its subsidiaries, ...",26.5,1.9,13.3,11.4,Low Controversy Level,1.0,55th percentile,Medium
8,BPCL,Bharat Petroleum Corporation Ltd.,Bharat Bhavan\n4 & 6 Currimbhoy Road Ballard E...,Energy,Oil Gas & Consumable Fuels,Bharat Petroleum Corporation Limited refines c...,37.8,21.4,6.7,9.7,Moderate Controversy Level,2.0,89th percentile,High
9,BHARTIARTL,Bharti Airtel Ltd.,"Bharti Crescent\n1, Nelson Mandela Road Vasant...",Communication Services,Telecommunication,Bharti Airtel Limited operates as a telecommun...,19.5,3.2,8.4,7.9,Significant Controversy Level,3.0,26th percentile,Low
11,CIPLA,Cipla Ltd.,Cipla House\nPeninsula Business Park Ganpatrao...,Healthcare,Healthcare,"Cipla Limited, together with its subsidiaries,...",28.4,3.3,10.3,14.8,Moderate Controversy Level,2.0,63rd percentile,Medium
12,COALINDIA,Coal India Ltd.,"Coal Bhawan\nPremise No-04 MAR Plot No-AF-III,...",Energy,Oil Gas & Consumable Fuels,"Coal India Limited, together with its subsidia...",45.5,26.7,6.3,12.4,Moderate Controversy Level,2.0,96th percentile,Severe
14,DRREDDY,Dr. Reddy's Laboratories Ltd.,"8-2-337, Road No. 3\nBanjara Hills\nHyderabad,...",Healthcare,Healthcare,"Dr. Reddy's Laboratories Limited, together wit...",26.6,2.8,9.1,14.6,Significant Controversy Level,3.0,55th percentile,Medium
15,EICHERMOT,Eicher Motors Ltd.,"#96, Sector 32\nGurugram, 122001\nIndia",Consumer Cyclical,Automobile and Auto Components,"Eicher Motors Limited, an automobile company, ...",13.3,3.6,6.4,3.3,Moderate Controversy Level,2.0,7th percentile,Low
16,GRASIM,Grasim Industries Ltd.,"Aditya Birla Centre\nâ€˜Aâ€™ Wing, 2nd Floor S.K. ...",Basic Materials,Construction Materials,"Grasim Industries Limited operates in fibre, y...",43.1,19.1,12.8,11.2,Moderate Controversy Level,2.0,95th percentile,Severe
17,HCLTECH,HCL Technologies Ltd.,Plot No. 3A\nTechnology Hub Special Economic Z...,Technology,Information Technology,HCL Technologies Limited offers software devel...,12.9,0.8,6.0,6.1,Moderate Controversy Level,2.0,7th percentile,Low
18,HDFCBANK,HDFC Bank Ltd.,HDFC Bank House\nSenapati Bapat Marg Lower Par...,Financial Services,Financial Services,HDFC Bank Limited provides banking and financi...,30.6,2.2,15.1,13.4,Moderate Controversy Level,2.0,71st percentile,High
20,HEROMOTOCO,Hero MotoCorp Ltd.,The Grand Plaza\nPlot No. 2 Nelson Mandela Roa...,Consumer Cyclical,Automobile and Auto Components,Hero MotoCorp Limited manufactures and sells m...,12.2,2.7,6.2,3.3,Moderate Controversy Level,2.0,5th percentile,Low
21,HINDALCO,Hindalco Industries Ltd.,Birla Centurion\n6th & 7th Floor Pandurang Bud...,Basic Materials,Metals & Mining,"Hindalco Industries Limited, together with its...",31.6,12.8,10.4,8.4,Significant Controversy Level,3.0,74th percentile,High
22,HINDUNILVR,Hindustan Unilever Ltd.,Unilever House\nB. D. Sawant Marg Chakala Andh...,Consumer Defensive,Fast Moving Consumer Goods,"Hindustan Unilever Limited, a fast-moving cons...",23.4,8.9,6.2,8.2,Moderate Controversy Level,2.0,42nd percentile,Medium
23,ICICIBANK,ICICI Bank Ltd.,ICICI Bank Towers\nBandra-Kurla Complex Bandra...,Financial Services,Financial Services,ICICI Bank Limited provides various banking pr...,24.0,2.1,12.1,9.8,Significant Controversy Level,3.0,44th percentile,Medium
24,ITC,ITC Ltd.,Virginia House\n37 Jawaharlal Nehru Road\nKolk...,Consumer Defensive,Fast Moving Consumer Goods,ITC Limited engages in the fast-moving consume...,28.0,5.9,7.8,14.3,Moderate Controversy Level,2.0,61st percentile,Medium
26,INFY,Infosys Ltd.,Plot No. 44/97 A\n3rd cross Electronic City Ho...,Technology,Information Technology,"Infosys Limited, together with its subsidiarie...",13.1,2.0,6.0,5.1,Moderate Controversy Level,2.0,7th percentile,Low
27,JSWSTEEL,JSW Steel Ltd.,JSW Centre\nBandra Kurla Complex Bandra (East)...,Basic Materials,Metals & Mining,JSW Steel Limited engages in the manufacture a...,36.7,13.4,10.3,13.0,Significant Controversy Level,3.0,87th percentile,High
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,"Bandra Kurla Complex\n27BKC, C 27 G Block Band...",Financial Services,Financial Services,Kotak Mahindra Bank Limited provides a range o...,19.1,2.0,9.1,8.0,Moderate Controversy Level,2.0,25th percentile,Low
30,LT,Larsen & Toubro Ltd.,L&T House\nN.M. Marg Ballard Estate P. O. Box:...,Industrials,Construction,Larsen & Toubro Limited engages in engineering...,34.1,4.4,15.8,13.9,Moderate Controversy Level,2.0,81st percentile,High
31,M&M,Mahindra & Mahindra Ltd.,Mahindra Towers\nDr. G. M. Bhosale Marg Worli\...,Consumer Cyclical,Automobile and Auto Components,Mahindra & Mahindra Limited provides mobility ...,27.8,8.4,5.8,13.6,Moderate Controversy Level,2.0,60th percentile,Medium
32,MARUTI,Maruti Suzuki India Ltd.,"1, Nelson Mandela Road\nVasant Kunj\nNew Delhi...",Consumer Cyclical,Automobile and Auto Components,"Maruti Suzuki India Limited manufactures, purc...",25.8,8.5,8.2,9.1,Moderate Controversy Level,2.0,52nd percentile,Medium
33,NTPC,NTPC Ltd.,"NTPC Bhawan\nScope Complex 7, Industrial Area ...",Utilities,Power,NTPC Limited generates and sells bulk power to...,39.4,16.9,8.3,14.2,High Controversy Level,4.0,91st percentile,High
34,NESTLEIND,Nestle India Ltd.,"NestlÃ© House\nJacaranda Marg, 'M' Block DLF Ci...",Consumer Defensive,Fast Moving Consumer Goods,NestlÃ© India Limited manufactures and sells fo...,28.3,13.0,5.4,9.9,Moderate Controversy Level,2.0,62nd percentile,Medium
35,ONGC,Oil & Natural Gas Corporation Ltd.,"Deendayal Urja Bhawan\nPlot No. 5A- 5B, Nelson...",Energy,Oil Gas & Consumable Fuels,Oil and Natural Gas Corporation Limited explor...,52.2,22.5,12.3,17.3,Severe Controversy Level,5.0,99th percentile,Severe
37,RELIANCE,Reliance Industries Ltd.,Maker Chambers IV\n3rd Floor 222 Nariman Point...,Energy,Oil Gas & Consumable Fuels,Reliance Industries Limited engages in hydroca...,41.0,24.2,6.2,10.6,Moderate Controversy Level,2.0,93rd percentile,Severe
40,SBIN,State Bank of India,State Bank Bhavan\n14th Floor Corporate Centre...,Financial Services,Financial Services,State Bank of India provides banking products ...,27.0,2.3,12.6,12.2,Moderate Controversy Level,2.0,57th percentile,Medium
41,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,Sun House\nPlot No. 201 B/1 Western Express Hi...,Healthcare,Healthcare,"Sun Pharmaceutical Industries Limited, a gener...",31.6,4.8,12.1,14.7,Significant Controversy Level,3.0,74th percentile,High
42,TCS,Tata Consultancy Services Ltd.,TCS House\nRaveline Street Corner of Hazarimal...,Technology,Information Technology,Tata Consultancy Services Limited provides inf...,11.4,0.7,6.0,4.8,Low Controversy Level,1.0,4th percentile,Low
44,TATAMOTORS,Tata Motors Ltd.,Ahura Centre\n4th Floor 82 Mahakali Caves Road...,Consumer Cyclical,Automobile and Auto Components,"Tata Motors Limited designs, develops, manufac...",27.5,7.0,6.6,13.9,Moderate Controversy Level,2.0,59th percentile,Medium
45,TATASTEEL,Tata Steel Ltd.,"Bombay House\n24, Homi Mody Street Fort\nMumba...",Basic Materials,Metals & Mining,Tata Steel Limited manufactures and distribute...,30.7,11.4,6.5,12.8,Significant Controversy Level,3.0,72nd percentile,High
46,TECHM,Tech Mahindra Ltd.,"Plot No. 01, Phase III\nRajiv Gandhi Infotech ...",Technology,Information Technology,Tech Mahindra Limited provides information tec...,11.6,0.5,5.2,5.9,Low Controversy Level,1.0,4th percentile,Low
47,TITAN,Titan Company Ltd.,Integrity No. 193\nVeerasandra Electronics Cit...,Consumer Cyclical,Consumer Durables,"Titan Company Limited, together with its subsi...",16.0,1.4,6.2,8.4,Moderate Controversy Level,2.0,14th percentile,Low
48,ULTRACEMCO,UltraTech Cement Ltd.,"Ahura Centre\n'B' Wing, 2nd floor Mahakali Cav...",Basic Materials,Construction Materials,"UltraTech Cement Limited, together with its su...",32.9,16.6,10.0,6.3,Moderate Controversy Level,2.0,78th percentile,High
49,WIPRO,Wipro Ltd.,"Doddakannelli\nSarjapur Road\nBengaluru, 56003...",Technology,Information Technology,Wipro Limited operates as an information techn...,13.2,1.2,5.9,6.0,Moderate Controversy Level,2.0,7th percentile,Low

In [18]:
df=pd.read_csv("iris.csv")

In [19]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [20]:
df.isna()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [21]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [22]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [23]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [24]:
df.sort_values(by='SepalLengthCm')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
13,14,4.3,3.0,1.1,0.1,Iris-setosa
42,43,4.4,3.2,1.3,0.2,Iris-setosa
38,39,4.4,3.0,1.3,0.2,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
41,42,4.5,2.3,1.3,0.3,Iris-setosa
...,...,...,...,...,...,...
122,123,7.7,2.8,6.7,2.0,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica