import pandas as pd

In [2]:
import pandas as pd
df=pd.read_csv("iris.csv")

In [24]:
d=pd.read_xml("https://storage.googleapis.com/kagglesdsdata/datasets/756034/2121112/COVID-19%20CLinical%20trials%20studies/COVID-19%20CLinical%20trials%20studies/NCT00571389.xml?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20240925%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20240925T060142Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=b8a0b446642790fa749a8c7d82092190284152d263f6e4e5684e2d7581a6e08e34771df06b50bb86bc3ea05eeb6ff6bad52d2305173f10ad6bc8184b7bf15bec1f195672d8ffb1aac10eb1e93764d8741d94c37c5d2b21727099e48db9c4e54c225f13793940dcd5b1167e623cd662d912512fb4f531a4a4c9f1ca926c65872e1e0b3ed18fe7d88dd96edba641cce8f9eb127abdb8845d3c0ff851d7b123f7a6714cf65eb378166469e358a3a1e5686dfcb3faab0341fab449e51ab9657a101030e3332cae043b94a963106cab5cc1dfe014f52b5e50e383f26e28ad9e873d5e2066e9cff5285dbe23db170e05b17c03c7885cd4dde69de025eb3bab9b57df6c")

In [40]:
data=pd.read_table("05 Harry Potter and the Order of the Phoenix.txt")

In [42]:
data

     The hottest day of the summer so far was drawing to a close and a drowsy silence lay over the large, square houses of Privet Drive. Cars that were usually gleaming stood dusty in their drives and lawns that were once emerald green lay parched and yellowing -for the use of hosepipes had been banned due to drought. Deprived of their usual car-washing and lawn-mowing pursuits, the inhabitants of Privet Drive had retreated into the shade of their cool houses, windows thrown wide in the hope of tempting in a nonexistent breeze. The only person left outdoors was a teenage boy who was lying flat on his back in a flowerbed outside number four.
0     He was a skinny, black-haired, bespectacled bo...
1     On the whole, Harry thought he was to be congr...
2     Almost as though this thought had fluttered th...
3     'Glad to see the boy's stopped trying to butt ...
4     'I don't know,' said Aunt Petunia, unconcerned...
...                                                 ...
9286  `Take care, Harry,' said Lupin quietly. `Keep ...
9287  `Harry, we'll have you away from there as soon...
9288  `We'll see you soon, mate,' said Ron anxiously...
9289  `Really soon, Harry' said Hermione earnestly. ...
9290  Harry nodded. He somehow could not find words ...

[9291 rows x 1 columns]

In [26]:
d

,download_date,link_text,url,org_study_id,secondary_id,nct_id,brief_title,official_title,lead_sponsor,source,...,verification_date,study_first_submitted,study_first_submitted_qc,study_first_posted,last_update_submitted,last_update_submitted_qc,last_update_posted,responsible_party_type,keyword,mesh_term
0,ClinicalTrials.gov processed this data on Apri...,Link to the current ClinicalTrials.gov record.,https://clinicaltrials.gov/show/NCT00571389,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,None,None,None,BioCytics 0001,WIRB Protocol # 20070969,NCT00571389,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,Isolation and Culture of Immune Cells and Circ...,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,A Study to Facilitate Development of an Ex-Viv...,None,None,...,None,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None,\n,None,...,None,None,None,None,None,None,None,None,None,None
5,None,None,None,None,None,None,None,None,None,"BioCytics, Inc.",...,None,None,None,None,None,None,None,None,None,None
6,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
10,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
11,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
12,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
13,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
14,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
15,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
16,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
17,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
18,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
19,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
20,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
21,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
22,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
23,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
24,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
25,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
26,None,None,http://www.carolinabiooncology.org,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
27,None,None,None,None,None,None,None,None,None,None,...,September 2020,None,None,None,None,None,None,None,None,None
28,None,None,None,None,None,None,None,None,None,None,...,None,"December 10, 2007",None,None,None,None,None,None,None,None
29,None,None,None,None,None,None,None,None,None,None,...,None,None,"December 11, 2007",None,None,None,None,None,None,None
30,None,None,None,None,None,None,None,None,None,None,...,None,None,None,"December 12, 2007",None,None,None,None,None,None
31,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,"September 8, 2020",None,None,None,None,None
32,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,"September 8, 2020",None,None,None,None
33,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,"September 10, 2020",None,None,None
34,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,Sponsor,None,None
35,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,All Stages of cancer,None
36,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,All stages of solid tumor origin,None
37,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,"Neoplastic Cells, Circulating"

In [22]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
df.head

<bound method NDFrame.head of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [8]:
df.tail

<bound method NDFrame.tail of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [6]:
df.describe

<bound method NDFrame.describe of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [7]:
df.tail(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [8]:
df.head(25)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa
24  25            4.8           3.4            1.9           0.2  Iris-setosa

In [10]:
df.head(148)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica

In [20]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [9]:
df.iloc[147]

Id                          148
SepalLengthCm               6.5
SepalWidthCm                3.0
PetalLengthCm               5.2
PetalWidthCm                2.0
Species          Iris-virginica
Name: 147, dtype: object

In [5]:
import pandas as pd


d={
    "Roll":[1,2,3,4,5],
    "math":[96,92,93,85,80],
    "chem":[85,88,84,95,86],
    "phy":[90,95,83,92,90]
}
df = pd.DataFrame(data=d)

In [4]:
df

   Roll  math  chem  phy
0     1    96    85   90
1     2    92    88   95
2     3    93    84   83
3     4    85    95   92
4     5    80    86   90

In [6]:
df.at[1,"math"]

np.int64(92)

In [7]:
df.at[2,"phy"]=89

In [8]:
df

   Roll  math  chem  phy
0     1    96    85   90
1     2    92    88   95
2     3    93    84   89
3     4    85    95   92
4     5    80    86   90

In [9]:
df.loc[[1,2,3],["Roll","math"]]

   Roll  math
1     2    92
2     3    93
3     4    85

In [10]:
df.dtypes

Roll    int64
math    int64
chem    int64
phy     int64
dtype: object

In [11]:
df

   Roll  math  chem  phy
0     1    96    85   90
1     2    92    88   95
2     3    93    84   89
3     4    85    95   92
4     5    80    86   90

In [15]:
df.iloc[3]

Roll     4
math    85
chem    95
phy     92
Name: 3, dtype: int64

In [12]:
import numpy as np

In [13]:
a=np.array([[1,2,3],[4,5,6]])

In [14]:
arr=np.array([1,2,3,4,5,6])

In [16]:
print(arr[0:4])

[1 2 3 4]

In [17]:
a[0,0:2]

array([1, 2])

In [1]:
import pandas as pd

In [21]:
import pandas as pd

d=pd.read_csv('C:\\Users\\Aarti\\Downloads\\archive\\ESG.csv')

In [29]:
d=d.loc[:, d.columns != 'Full Time Employees']

In [30]:
d.isna().sum()

Symbol                     0
Name                       0
Address                    0
Sector                     0
Industry                   0
Description                0
Total ESG Risk score      12
Environment Risk Score    12
Governance Risk Score     12
Social Risk Score         12
Controversy Level         12
Controversy Score         12
ESG Risk Percentile       12
ESG Risk Level            12
dtype: int64

In [16]:
df=pd.read_csv("iris.csv")

In [18]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [20]:
df.isna()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [21]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [22]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [23]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [24]:
df.sort_values(by='SepalLengthCm')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
13,14,4.3,3.0,1.1,0.1,Iris-setosa
42,43,4.4,3.2,1.3,0.2,Iris-setosa
38,39,4.4,3.0,1.3,0.2,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
41,42,4.5,2.3,1.3,0.3,Iris-setosa
...,...,...,...,...,...,...
122,123,7.7,2.8,6.7,2.0,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica